<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 16.04.2014, 19:29</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post on my blog following the 'Introduction of HTML' section.</p>
        </article>

        <article>
            <time>published: 16.06.2014, 19:35</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post on my blog following the 'Introduction of HTML' section.</p>
        </article>
    </body>
</html>